@charset "UTF-8";

.header-wrap div {
  width: 1280px;
  margin: 0 auto;
  padding: 15px 0;
}

.user-wrap {background: #f3f3f3;}

.gnb-wrap .gnb {overflow: hidden; padding: 0; margin: 0;}
.gnb-wrap .gnb li {float: left; width: 25%; padding: 5px 0;}


.main-wrap{
  width: 1280px;
  min-height: 600px; 
  margin: 20px auto;
}


/* footer */
.footer {
  overflow: hidden;
  background: #888;
}
.footer div {
  float: left;
  width: 50%;
}
.footer .right ul {
  padding: 0 30px;
}
.footer .right ul li {
  border-bottom: 1px solid yellow;
  margin-bottom: 10px;
}
