<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<!-- Appenders -->
  <!-- Console view 에 로그를 찍는 Appender -->
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>[%d{HH:mm:ss.SSS, Asia/Seoul}]%-5level:%logger-%msg%n</pattern>
    </encoder>
  </appender>
  
  <!-- File 에 로그를 찍는 Appender -->
	<appender name="file" class="ch.qos.logback.core.ConsoleAppender">
    <file>/logs/prj05.log</file>
    <append>true</append>
    <immediateFlush>true</immediateFlush>
    <encoder>
      <pattern>[%d{HH:mm:ss.SSS, Asia/Seoul}]%-5level:%logger-%msg%n</pattern>
    </encoder>
  </appender>
  
	<!-- Application Loggers -->
	<logger name="com.gdu.prj05" level="info" />
	
	<!-- 3rdparty Loggers -->
	<logger name="org.springframework" level="info" />
  <logger name="com.zaxxer.hikari" lavel="info" />
  <logger name="com.mybatis.spring" lavel="info" />

	<!-- Root Logger -->
	<root>
		<priority value="warn" />
		<appender-ref ref="console" />
		<appender-ref ref="file" />
	</root>
	
</configuration>
